<table class="row-border hover">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Hora</th>
        <th>Fecha</th>
        <th>Área</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Visita de gobernador</td>
        <td>10:00am</td>
        <th>10/10/18</th>
        <th>Aula educativa</th>
      </tr>
     
      <tr>
          <td>vista uas</td> 
         <td>10:00am</td>
         <th>10/10/18</th>
         <td>grace</td>

      </tr>
      <tr>
       
          <td>vista uas</td>
          <td>Plantario</td>
          <td>10:00am</td>
          <th>10/10/18</th>

      </tr>
    </tbody>
  </table>
