<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div>
    <div class="header-dark">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="background-color:rgb(0,0,0)">
            <div class="container-fluid"><a class="navbar-brand" href="#"><img src="../../assets/img/Jardin-botanico-los-mochis.png" style="height:60px;"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
              <div
              class="collapse navbar-collapse" id="navcol-1">
              <ul class="nav navbar-nav ml-auto">
                  <li class="nav-item" role="presentation">
                      <a class="nav-link" href="#" style="color:rgb(255,255,255);" routerLink="/primera">
                        <i class="fas fa-home fa-3x"></i>
                    </a>
                  </li>
                  <li class="dropdown">
                        <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="font-size:17px;color:rgb(253, 253, 253);">
                                <i class="fas fa-sticky-note fa-3x"></i>
                        </a>
                        
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" routerLink="/reporte_visitas">Reporte de visitas</a>
                            <a class="dropdown-item" role="presentation" routerLink="/reporte_eventos">Reporte de eventos</a>
                            <a class="dropdown-item" role="presentation" routerLink="/reporte_instituciones" >Reporte de Instituciones</a>
                            <a class="dropdown-item" role="presentation" routerLink="/reporte_graficas">Reporte en graficas</a>
                            

                            </div>
                    </li>
                 
                  <li class="nav-item" role="presentation">
                      <a class="nav-link" href="#" style="color:rgb(255,255,255);" routerLink="/calendario">
                        <i class="fas fa-calendar-alt fa-3x"></i>
                      </a>
                  </li>
                  <li class="dropdown" role="presentation">
                      <a class="dropdown-toggle nav-link dropdown-toggle" style="color:rgb(255,255,255);" data-toggle="dropdown" aria-expanded="false"  >
                        <i class="fas fa-bell fa-3x">            
                            </i><span *ngIf="notis.length" class="badge badge-pill badge-danger">{{notis.length}}</span>    
                      </a>
                    <div class="dropdown-menu" role="menu" *ngIf="notis.length; else nohay">
                        <a class="dropdown-item"  *ngFor="let notis of notis" role="presentation" (click)="recargar(notis.idvisitas)"  >{{notis.idvisitas}} - {{notis.titulo}}</a>
                    </div>
                    <ng-template #nohay>
                        <div class="dropdown-menu" role="menu" >
                            <a class="dropdown-item"  role="presentation" >No hay pendientes</a>    
                        </div>
                    </ng-template>
                  </li>

                 
                  <li class="dropdown">
                      <a class="dropdown-toggle nav-link dropdown-toggle pasar" data-toggle="dropdown" aria-expanded="false" href="#" style=" color:rgb(255,255,255); font-size: 20px;">{{sesion}}</a>
                      <div class="dropdown-menu" role="menu" style="margin-left: 120px; width: 50px;">
                          <a class="dropdown-item" role="presentation"  style="font-size: 20px;" (click)="cerrarsesion()">Cerrar sesión</a>
                          
                        </div>
                  </li>
              </ul>
            </div>
    </div>
    </nav>
</div>
</div>



