<div>
    <div class="header-dark">
        <nav class="navbar navbar-dark navbar-expand-xl  navigation-clean-search" style="background-color:rgb(0,0,0)">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="assets/img/Jardin-botanico-los-mochis.png" style="height:40px;">
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">

                    <ul class="navbar-nav mr-auto">
                            <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]= "{exact:true}">
                              <a class="nav-link" style="font-size:15;" routerLink="/" >Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#" routerLink="/registro" style="font-size:15px;">Registro</a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" style="font-size:15px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Nosotros
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="font-size:15px;" href="#" routerLink="/vision-mision">Visión y Misión</a>
                                <a class="dropdown-item" style="font-size:15px;" href="#" routerLink="/historia">Historia</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" style="font-size:15px;" href="#" routerLink="/informacion">Información</a>
                              </div>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link " style="font-size:15px;" href="#" routerLink="/mapa">Mapa</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link " style="font-size:15px;" href="#" routerLink="/eventos">Calendario</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link " style="font-size:15px;" href="#" routerLink="/eve">Eventos</a>
                            </li>
                          </ul>
                         
                    <a class="btn btn-light action-button" role="button" routerLink="/login" style="margin-left:180px;font-size:18px; background-color:rgb(0, 0, 0); color: antiquewhite">Login</a></div>
    </div>
    </nav>
    </div>
    </div>

 