<app-headeradmin></app-headeradmin>
<br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<br>



<div class="container">
    <div class="row">
        <div class="col-sm-12  text-center" >

            <h3>Reporte de instituciones registradas</h3>
          
            <div class="row">
                  <div class="col-sm-6" style="box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
                      <div class="card  mb-3">
                          <div class="card-header bg-success  text-white"> <h5>Reporte de Instituciones</h5></div>
                          <div class="card-body">
                             
              
                              <div class="table-responsive scroll2">
                                  <table #dataTable class="display" style="width:100%"></table>
                              </div>

                        </div>
                        </div>
                   
                  </div>
                  <div class="col-sm-6" style="box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);"> 
                      <div class="card  mb-3">
                          <div class="card-header bg-success  text-white"> <h4> Instituciones que mas visitan el jardín</h4></div>
                          <div class="card-body">
                              
                              <div >
                                  <table #dataTable2 class="display" style="width:100%"></table>
                              
                             
                          </div> 
                          </div>
                      </div>
                   
               
                </div>
                <br>
                <br>
          
              
          </div>
  
  
    </div>
  
  </div>
