<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>Tipo visitante</th>
        <th>Titulo</th>
        <th>Intitución</th>
        <th>Contacto</th>
        <th>Recorrido</th>
        <th>hora</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>grace</td>
        <td>vista uas</td>
        <td>universidad autonoma de sinaloa</td>
        <td>vista uas</td>
        <td>Plantario</td>
        <td>10:00am</td>
        <th>10/10/18</th>
      </tr>
     
      <tr>
          <td>grace</td>
          <td>vista uas</td>
          <td>universidad autonoma de sinaloa</td>
          <td>vista uas</td>
          <td>Plantario</td>
         <td>10:00am</td>
         <th>10/10/18</th>

      </tr>
      <tr>
          <td>grace</td>
          <td>vista uas</td>
          <td>universidad autonoma de sinaloa</td>
          <td>vista uas</td>
          <td>Plantario</td>
          <td>10:00am</td>
          <th>10/10/18</th>

      </tr>
    </tbody>
  </table>