<app-header></app-header>
<br>
<!DOCTYPE html>
<html>
<body>

<div class="intro">
        <h2 class="text-center">MAPA DEL JARDIN</h2>
        <p class="text-center">Los puntos de mayor interes del Jardin Botanico Benjamin Francis Johnston</p>
      
</div>
<div class="col-sm-12">
  <img class="img-fluid"  src="assets/img/mapa_jardin.png"  alt="Planets" usemap="#planetmap" >
</div>
<map name="planetmap">
  <area shape="circle" coords="428,231,20" alt="Sun" data-toggle="modal" data-target="#exampleModal">
  <area shape="circle" coords="396,247,20" alt="Mercury" data-toggle="modal" data-target="#plantario">
  <area shape="circle" coords="438,285,20" data-toggle="modal" data-target="#aulaeducativa">
  <area shape="circle" coords="598,255,20" data-toggle="modal" data-target="#estanque">
  <area shape="circle" coords="538,151,20" data-toggle="modal" data-target="#oficina_educacional">
  <area shape="circle" coords="854,166,20" data-toggle="modal" data-target="#yingyang">
  <area shape="circle" coords="995,173,20" data-toggle="modal" data-target="#xerofito">
  <area shape="circle" coords="846,282,20" data-toggle="modal" data-target="#pergola">
  <area shape="circle" coords="929,343,20" data-toggle="modal" data-target="#mariposario">
  <area shape="circle" coords="1080,554,20" data-toggle="modal" data-target="#oficina">
</map>
<!--COMIENZA MODALES-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Laboratorio de cultivo in vitro y banco de germoplasma</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="assets/img/banco.jpg" class="rounded mx-auto d-block" alt="Cinque Terre" width="404" height="236">
          Espacio de condiciones totalmente asépticas donde se llevan a cabo tareas de propagación y resguardo de material genético de diferentes especies de plantas en menor tiempo y en un espacio más reducido, otorgando las necesidades específicas en un ambiente controlado.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--COMIENZA MODAL plantario-->
  <div class="modal fade" id="plantario" tabindex="-1" role="dialog" aria-labelledby="plantarioLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="plantarioLabel">Laboratorio de cultivo in vitro y banco de germoplasma</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="assets/img/plantario.jpg" class="rounded mx-auto d-block" alt="Cinque Terre" width="604" height="436">
            Un espacio educativo y recreativo, a través del contacto con la naturaleza, conformado por una colección de mas de 100 especies tropicales, que explican su interacción en el ecosistema 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--COMIENZA MODAL aulaeducativa-->
    <div class="modal fade" id="aulaeducativa" tabindex="-1" role="dialog" aria-labelledby="aulaeducativaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="aulaeducativaLabel">Aula Educativa</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="assets/img/aula.jpg" class="rounded mx-auto d-block" alt="Cinque Terre" width="604" height="436">
              Réntame
              Informes al (668) 8-18-18-14
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!--COMIENZA MODAL oficina ambiental-->
      <div class="modal fade" id="oficina_educacional" tabindex="-1" role="dialog" aria-labelledby="oficina_educacionalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="aulaeducativaLabel">Oficina Educacional Ambiental</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/img/oficinaeducacion.JPG" class="rounded mx-auto d-block" alt="Cinque Terre" width="604" height="436">
                Como principales actividades de educación ambiental dentro del JB se llevan a cabo talleres ambientales y visitas guiadas ambos disponibles todos los días del año, de igual forma realizamos eventos ambientales anuales como el día mundial del agua, día de la tierra, campamento de verano, día de los jardines botánicos, día mundial del medio ambiente y día mundial de reciclaje en los cuales toda la sociedad puede participar para juntos lograr la mejora y cuidado del medio ambiente para lograr un desarrollo sustentable y una sociedad en valores para lograr una sana convivencia. 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!--estanque-->
        <div class="modal fade" id="estanque" tabindex="-1" role="dialog" aria-labelledby="estanqueLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="estanqueLabel">Estanque</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="assets/img/estanque.jpg" class="rounded mx-auto d-block" alt="Cinque Terre" width="604" height="436">
                  Es un cuerpo de agua rodeado por diversidad de árboles y palmeras, bajo las cuales se encuentra un camino adoquinado conectado por dos puentes, desde el cual se distingue una fuente colocada al frente. Es habitado por aves como patos y ganzos, así como por tortugas e iguanas.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!--yingyang-->
          <div class="modal fade" id="yingyang" tabindex="-1" role="dialog" aria-labelledby="yingyangLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="yingyangLabel">Jardín del Ying Yang  </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img src="assets/img/yingyang.jpg" class="rounded mx-auto d-block" alt="Cinque Terre" width="604" height="436">
                    Una notable influencia oriental en su diseño es el distintivo principal de este espacio, sus curvos caminos resaltados son pasarelas por las que desfila especies tan peculiares como sorprendentes, el árbol flor de madera se llama así por sus frutos esférico secos que abren formando una flor. Adicionalmente podemos encontrar samanes, lluvia de oro, el árbol flor de mico con sus elegantes hojas alargadas, la cereza de cayena o pitanga, así como dos pequeños bosques de amapas rosa y algunas caobas. 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!--xerofito-->
            <div class="modal fade" id="xerofito" tabindex="-1" role="dialog" aria-labelledby="xerofitoLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="xerofitoLabel">Jardín Xerófito </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="assets/img/xerofito.jpg" class="rounded mx-auto d-block" alt="Cinque Terre" width="604" height="436">
                      Es la colección más reciente del jardín botánico. En ella se aprecian especies del semidesierto mexicano, representado por los estados del noroeste (Sinaloa, Sonora y Baja California). La mayoría de plantas han tenido un proceso complejo de adaptación, destacando las plantas suculentas que almacenan gran cantidad de agua en los tallos jugosos para evitar su deshidratación ante los días de calor extremo. Las precipitaciones en estas regiones son muy bajas, sin embargo existe una gran riqueza de especies, destacando las familias: cactácea, fabaceae, aspargaceae, euphorbiaceae y agavaceae.

                      México ocupa los primeros lugares en riqueza de especies de cactus a nivel mundial, esto se debe a los microecosistemas que favorecen la aparición de especies endémicas. 
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <!--pergola-->
            <div class="modal fade" id="pergola" tabindex="-1" role="dialog" aria-labelledby="pergolaLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="pergolaLabel">Pergola</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="assets/img/pergola.jpg" class="rounded mx-auto d-block" alt="Cinque Terre" width="604" height="436">
                      Es un camino que conecta la historia de la ciudad con la belleza de la naturaleza que ofrece el Jardín Francés; ladrillos con más de 100 años de edad, pilares que parecen sujetarse de hermosas plantas enredaderas y flores que cuelgan de las vigas de madera que permiten el paso de los rayos solares. 
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--mariposario-->
              <div class="modal fade" id="mariposario" tabindex="-1" role="dialog" aria-labelledby="mariposarioLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="mariposarioLabel">Recinto Educativo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img src="assets/img/recinto.jpg" class="rounded mx-auto d-block" alt="Cinque Terre" width="604" height="436">
                        Costumbres y tradiciones generan la identidad de una región, por ello comprometidos por preservarlas trabajamos bajo tres objetivos principales en este recinto: difusión, educación y preservación de los diferentes elementos que conforma nuestra etnia "yoreme-mayo"; cultura excepcional que se desarrolló en el norte de Sinaloa y sur de Sonora, donde la parte primordial de sus vestimentas para sus danzas son hechas con hasta mil capullos elaborados durante la etapa de oruga de la “mariposa cuatro espejos” conocidos como tenábaris. 
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--oficina-->
                <div class="modal fade" id="oficina" tabindex="-1" role="dialog" aria-labelledby="oficinaLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="oficinaLabel">Oficina principal</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <img src="assets/img/oficinaprincipal.jpg" class="rounded mx-auto d-block" alt="Cinque Terre" width="604" height="436">
                         
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

</body>
</html>
<br>
<app-footer></app-footer>