
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="container-fluid"  style="height: 100% ; background-image:url( ../../assets/img/puesta-jardin-botanico-mochis--768x517.png) ; background-repeat: no repeat; background-size: cover;">
    <div class="row  align-items-center justify-content-center" style="height:100%;">
        <div class="contenedor col-10 col-sm-8 col-md-6 col-xl-4" style="padding: 30px;">
            
            <div class="row justify-content-center" style="margin-top:20px;">
                    <img  src="../../assets/img/Logo.png" >
            </div>
            <div>
                <div class="row justify-content-center" style="margin-top:30px;">
                    <h2 class="text-center"><strong>Login</strong></h2>
                </div>
                <div  class="row justify-content-center" style="margin-top:30px;">            
                    <div class="col-8 col-sm-6"><input [(ngModel)]="email" class="form-control" type="email" name="email" placeholder="Email"></div>
                </div>
                <div class="row justify-content-center"style="margin-top:20px;">
                    <div class="col-8 col-sm-6"><input [(ngModel)]="password" class="form-control" type="password" name="password" placeholder="Password"></div>
                </div>
                <div class="row justify-content-center" style="margin-top:25px;">
                    <div class="col-8 col-sm-6"><button   routerLink="/primera" class="btn btn-primary btn-block" type="button" style="background-color:rgb(69,145,50);">Iniciar Sesión</button></div>
                </div>
            </div>
        </div>
    </div>
</div>