<app-headeradmin></app-headeradmin>

<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<br>
<div class="container-fluid">
    <form action="" method="get">
        <div >
  
            <div class="row">
               
              <div class="col-sm-10 col-md-10" >
                   
                    <h4 class="text-center"> Listado de eventos proximos</h4>
                    
                    
                    <div class="card">
                        <div class="card-header bg-success " style="color:aliceblue">EVENTOS</div>
                        <div class="card-body table-responsive">
                            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                                <thead>
                                  <tr>
                                   
                                    <td>Titulo</td>
                                    <td>Fecha</td>
                                    <td>Hora</td>
                                    <td>Descripción</td>
                                    <td width=75 align="center">Action</td>
                                    <td width=75 align="center">Action</td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let e of bailame">
                                  
                                    <td>{{e.titulo}}</td>
                                    <td>{{e.fecha}}</td>
                                    <td>{{e.tiempo}}</td>
                                    <td>{{e.descripcion}}</td>
                                    <td><button class="btn btn-danger" (click)="delete(e.ideventos)" ><i class="fas fa-trash"></i></button></td>
                                    <td><button class="btn btn-success"  data-toggle="modal" data-target="#exampleModal2" (click)="seleccione(e.ideventos)" ><i class="fas fa-edit"></i></button></td> 
                                   
                                  </tr>
                                 
                                 
                                </tbody>
                              </table>
                       
                        </div>
                        </div>    
                   
                  
                  <!-- MODAL DE REGISTRO  -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Registro de Evento</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                             
                                    <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Nombre de evento:</label>
                                    <input type="text" class="form-control" [(ngModel)]="events.titulo" name="titulo">
                                    </div>
                                    <div class="row">
                                            <div class="col">
                                            <input class="form-control" type="date" value="2011-08-19" id="fecha"  [(ngModel)]="events.fecha" name="fecha">
                                            </div>
                                            <div class="col">
                                                <input class="form-control" type="time" value="13:45:00"  [(ngModel)]="events.tiempo" name="tiempo">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label for="message-text" class="col-form-label">Descripcion:</label>
                                            <textarea class="form-control" id="message-text"  [(ngModel)]="events.descripcion" name="descripcion"></textarea >
                                    </div>
                                    <div class="custom-file">
                                      <input type="file" class="form-control" id="imagen" name="imagen" [(ngModel)]="events.imagen" />
                                    </div>
                            
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                              <button type="button" class="btn btn-primary" (click)="alta()">Guardar</button>
                            </div>
                          </div>
                        </div>
                  </div>
                     <!-- MODAL DE EDICION -->
                     <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModal2Label">Modificación de Evento</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                             
                                    <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Nombre de evento:</label>
                                    <input type="text" class="form-control" [(ngModel)]="events.titulo" name="titulo">
                                    </div>
                                    <div class="row">
                                            <div class="col">
                                            <input class="form-control" type="date" value="2011-08-19" id="fecha"  [(ngModel)]="events.fecha" name="fecha">
                                            </div>
                                            <div class="col">
                                                <input class="form-control" type="time" value="13:45:00"  [(ngModel)]="events.tiempo" name="tiempo">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label for="message-text" class="col-form-label">Descripcion:</label>
                                            <textarea class="form-control" id="message-text"  [(ngModel)]="events.descripcion" name="descripcion"></textarea >
                                    </div>
                                    <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFileLang" lang="es" [(ngModel)]="events.imagen" name="imagen">
                                            <label class="custom-file-label" for="customFileLang"  >Seleccionar imagen de evento</label>
                                    </div>
                            
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiar()">Cerrar</button>
                              <button type="button" class="btn btn-primary" (click)="modificacion()">Modificar</button>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
              
                <div class="col-sm-2 col-md-2" >
                  <div class="text-center" style=" padding-top: 100px; ">
                      <button type="button" class="btn btn-primary btn-lg btn-block" style="height:250px;"routerLink="/registroadmin"><span class="fas fa-pen fa-4x"  ></span><h4>Registro Visita</h4></button>
                  </div>
                  
                </div>

              </div>
            
              
        </div>
        <br>
        <br>
        <div class="container-fluid">
            <div class="col-sm-12 col-md-12">
                <div class="card border-success ">
                    <h5 class="card-header  border-success">Registro de Evento</h5>
                    <div class="card-body">
                        <div >  
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Nombre de evento</label>
                                  <input type="text" class="form-control" [(ngModel)]="events.titulo" name="titulo">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputPassword4">Fecha:</label>
                                  <input class="form-control" type="date" value="2011-08-19" id="fecha"  [(ngModel)]="events.fecha" name="fecha">
                                </div>
                              </div>
                            
                            <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputEmail4">Hora:</label>
                                    <input class="form-control" type="time" value="13:45:00"  [(ngModel)]="events.tiempo" name="tiempo">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputPassword4">Imagen:</label>
                                    <div class="custom-file">
                                        <input type="file" class="form-control" id="imagen" name="imagen" [(ngModel)]="events.imagen" />
                                      </div>
                                  </div>
                                </div>
        
                            <div class="row">
                                <label for="message-text" class="col-form-label">Descripcion:</label>
                                
                                <div class="col">
                                    <textarea class="form-control" id="message-text"  [(ngModel)]="events.descripcion" name="descripcion"></textarea >
                                </div>
        
        
                            </div>
                          
                           
                    
                    </div>
                    <button type="button" class="btn btn-primary" (click)="alta()">Guardar</button>
                    </div>
                  </div>
            </div>
          </div>
        <br/>
    </form>
</div>