<app-header></app-header>
<div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/8.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Decoración</h5>
        <p class="card-text">
            El vestíbulo de La Casa Grande era el alma de la mansión, cubierto por un domo de cristal emplomado, en su decoración destacaban candiles italianos.</p>
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p> Benjamín Johnston  fallecio a causa de un infarto al corazón cuando se encontraba en Hong Kong, China, en el año de 1937.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">La Casa Grande.</h5>
        <p class="card-text">
            El empresario Benjamín F. Johnston no escatimó en presupuesto para la construcción de su vivienda ni para la decoración de interiores y exteriores.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>Dos años después el fallecimiento de su único hijo, Sherwood, la señora Agnes decide regresar a Estados Unidos y vender todas las propiedades de la familia Johnston.</p>
        <footer class="blockquote-footer">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
        <img class="card-img-top" src="../../assets/img/2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Jardin</h5>
          <p class="card-text">En el interior de la casa se podía disfrutar de todos los lujos con los que se contaba en la época y por fuera se apreciaban hermosos paisajes de vegetación traída de varios lugares del mundo, como La India, África, España, Arabia, Sumatra, Java, Siam, Filipinas, Australia y China.</p>
        </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">¿Sabias que?</h5>
        <p class="card-text">En su decoración destacaban candiles italianos de cristal cortado, un elegante piano de cola, un reloj de pie, artísticos gobelinos y antiguos óleos europeos</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
      <div class="card-header bg-success text-white">
        HISTORIA
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>A Finales Del Siglo XIX, El Norteamericano Benjamin F. Johnston llega a tierras sinaloenses donde viendo la gran oportunidad de explotar recursos como la caña de azúcar decide construir su propio ingenio detonando así el desarrollo agrícola y económico para la región convirtiéndola en una de las regiones más poderosas del norte de México y provocando con ello el reconocimiento como la ciudad de los Mochis en el año de 1903.

              Don Benjamin decide construir la “Casa Grande”, majestuosa residencia ubicada frente a su empresa, donde hoy conocemos como parque Sinaloa, acompañado de su esposa Agnes y su hijo Sherwood.
              
              Amante de la naturaleza decide traer de diferentes partes del mundo una amplia variedad de especies y solicitando los servicios de la exitosa paisajista de la época Florence Yoch realiza uno de sus grandes legados el “Jardín Botánico Benjamin F Johnston”. Jardín diseñado en forma de cruz al estilo de los monasterios benedictos, dividido por sus bellos jardines, donde además de admirar el bello paisaje podemos escuchar el trino de las aves.</p>
          <footer class="blockquote-footer"><cite title="Source Title">Jardín Botánico Benjamin F Johnston</cite></footer>
        </blockquote>
      </div>
    </div>

<app-footer></app-footer>