<app-headeradmin></app-headeradmin>
<br>
<br>

    <div class="container">
        <form>
            <div class="row ">
                <div class="col-sm-6 ">
                       
                    <br>
                    <br>
                        <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Titulo</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="titulo" placeholder="Titulo de reservación">
                                </div>
                        </div>
                        <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Institución</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="nombre_inst" placeholder="Nombre de institucion">
                                </div>
                        </div>
                        <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Contacto</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="inputEmail3" placeholder="Nombre de contacto">
                                </div>
                        </div>
                        <div class="form-inline row">
                                <label class="col-sm-2 col-form-lab" for="inlineFormCustomSelect">Cantidad de</label>
                                <div class="col-sm-10">
                                  <div class="form-row">
                                    <div class="col">
                                      <input type="text" class="form-control" placeholder="Niños">
                                    </div>
                                    <div class="col">
                                      <input type="text" class="form-control" placeholder="Adultos">
                                    </div>
                                  </div>
                                          
                                </div>
                                       

                                
                                
                        </div>
                        <br>
                        <div class="form-group row">
                                <label for="tel" class="col-sm-2 col-form-label">Telefono</label>
                                <div class="col-sm-10">
                                        <input class="form-control" type="tel" value="1-(555)-555-5555" id="tel">
 
                                </div>
                        </div>
                        <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                  <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                        </div>
                       


                </div>
                <div class="col-sm-6">
                    <br>
                    <br>
                             <div class="form-group row">
                                <label for="example-date-input" class="col-2 col-form-label">Date</label>
                                <div class="col-10">
                                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                            </div>
                              </div>
                                <div class="form-group row">
                                <label for="example-time-input" class="col-2 col-form-label">Time</label>
                                <div class="col-10">
                                  <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                                </div>
                              </div>
                              <br>
                              <fieldset class="form-group row">
                                <legend class="col-form-legend col-sm-2">Recorrido</legend>
                                <div class="col-sm-10">
                                  <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                      Plantario
                                    </label>
                                  </div>
                                  <br>
                                  <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                      Mariposario
                                    </label>
                                  </div>
                                  <br>
                                  <div class="form-check disabled">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                                      Recinto Educativo
                                    </label>
                                  </div>
                                  <br>
                                  <div class="form-check disabled">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option4" disabled>
                                          Jardines tematicos
                                        </label>
                                      </div>
                                </div>
                              </fieldset>

                              <h6>Espera tu respuesta en tu correo electronico</h6>
                              <div class="form-group row">
                                <div class="offset-sm-4 col-sm-10">
                                  <button type="button" class="btn btn-primary" >Reservar visita</button>
                                </div>
                              </div>
                              <!-- Modal -->
                              

                </div>

            </div>
        </form>

        
        

    </div>
    <br>
<app-footer></app-footer>
      <!-- Footer -->
                
            
    
    


