<app-headeradmin></app-headeradmin>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<br>
<br>
<div class="container">
  <div class="row">
      <div class="col-sm-12  text-center" >
          <h2>Reporte en Graficas</h2>
        
          <div class="row">
                <div class="col-sm-6" style="box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
                    <div class="card  mb-3">
                        <div class="card-header bg-success  text-white"><h4> Instituciones que mas visitan el jardin</h4></div>
                        <div class="card-body">
                            
                            <div >
                                <table datatable [dtOptions]="dtOptions" class="row-border hover">
                                    <thead>
                                      <tr>
                                       
                                        <td>Mes</td>
                                        <td>Cantidad</td>
                                      
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let e of bailame">
                                      
                                        <td>{{e.mes}}</td>
                                        <td>{{e.numFilas}}</td>
                                       
                                      </tr> 
                                    </tbody>
                                  </table>
                            
                           
                        </div>
                        </div>
                    </div>
                  
                </div>
                <div class="col-sm-6" style="box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);"> 
                    <div class="card  mb-3">
                        <div class="card-header bg-success  text-white"><h4>Visitas mas frecuente</h4>  </div>
                        <div class="card-body">
                              
                            <div >
                                <canvas baseChart
                                        [(data)]="pieChartData"
                                        [(labels)]="pieChartLabels"
                                        [chartType]="pieChartType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                              </div>
                        </div>
                      </div>
                 
                </div>
              </div>
              <br>
              <br>
          <div class="row" > 
            <div class="col-sm-12" style="box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);" >
                <div class="card  mb-3">
                    <div class="card-header bg-warning  text-white"><h4> Áreas mas visitadas</h4> </div>
                    <div class="card-body">
                        
                        <div>
                            <canvas baseChart
                                    [(datasets)]="barChartData"
                                    [(labels)]="barChartLabels"
                                    [options]="barChartOptions"
                                    [legend]="barChartLegend"
                                    [chartType]="barChartType"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                          </div>
                    </div>
                </div>
              
              </div>
            </div>
            
        </div>


  </div>

</div>