<app-header></app-header>
<br>
<div class="container-fluid">
<div class="intro">
  <h2 class="text-center">Eventos del dia</h2>
  <p class="text-center">Visitas y Eventos que se realizaran en el Jardin Botanico Benjamin Francis Johnston</p>

</div>
<div class="card-deck">
    <div class="card text-white bg-success" style="margin-top: 30px;">
      <img class="card-img-top" src="../../assets/img/puesta-jardin-botanico-mochis--768x517.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Recorrido a la primaria Eduardo Alfonso Garrido Achoy</h5>
        <p class="card-text"> A nombre de Rosa Elena Camacho Sanchez, cantidad de niños 30, cantidad de adultos 5, Hora de visita 10:00 AM, recorrido a jardines tematicos, plantario.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card text-white bg-warning" style="margin-top: 30px;">
      <img class="card-img-top" src="../../assets/img/aula.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Visita del Gobernador</h5>
        <p class="card-text">A nombre de Grace de jesus Valenzuela Camacho, cantidad de aultos 10, Hora de visita 9:00 AM, Recorrido por plantario, recinto educativo.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card text-white bg-success" style="margin-top: 30px;">
      <img class="card-img-top" src="../../assets/img/tres.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Visita de UAS</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  
      
  </div>
</div>
<app-footer></app-footer>